<div >
    <h3>${title}</h3>
    <span>${description}</span>
	<form method="GET">
		<div class="row" >
			<!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" name="text" value="${text}"class="form-control"
						placeholder="Search for..."> <span class="input-group-btn">
						<input class="btn btn-default" type="submit" value="Вперед"></button>
					</span>
				</div>
				<!-- /input-group -->
			</div>
			
			<!-- /.col-lg-6 -->
		</div>
	</form>
	
	${output}
</div>