<div>
	<ul class="nav nav-pills nav-stacked">
		<!-- Brand and toggle get grouped for better mobile display -->
		<#list menuItems as item>
		<li role="presentation" class="${item.styleClass}"><a class="navbar-brand"
			href="${item.id}" >${item.title}</a></li>
		</#list>

	</ul>
	
</div>
